@font-face {
    font-family: 'Futura';
    src: url('fonts/FuturaLtLight.ttf');
}

*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    text-align: center;
}

.Home{
    height: 100vh; /*!*\   /*A changer*/
    
    background-image: url('img/noise-texture.jpg');
    background-color: black;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1{
    font-size: 68px;
    padding-top: 40vh;
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 10px;
    color: white;
}
    
.text h2{
    font-size: 17px;
    letter-spacing: 9px;
    font-family: Futura;
    color: white;
}

h2{
    
    letter-spacing: 5px;
    font-size: 34px;
}

h3{
    font-size: 20px;
}

p{
    font-size: 16px;
}

.Line{
    letter-spacing: -3px;
    font-size: 33px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.text div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SoftSpace{
    display: flex;
}

.Software{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: auto;
    max-width: 200px;
}

.Portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Grid{
    width: auto;
    max-width: 1075px;
    font-size:0px;


    
}

.GridImage{
    width: 350px;
    margin: 0;
    border: 0;
    padding: 0;
}

.AboutMe{
    background-color: black;
    display: flex;
    justify-content: center;
}

.Page{
    background-color: bisque;
    width: 600px;
    padding: 5px;
    margin: 25px;
    
}